#workout
  %p
    %strong Date:
    = @workout.date

    %strong Workout
    = @workout.workout

    %strong Mood:
    = @workout.mood

    %strong Length:
    = @workout.length


  = link_to "Back", root_path
  = link_to "Edit", edit_workout_path(@workout)
  = link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" }

#exercises
  %h2 Exercises
  = render @workout.exercises

  %h3 Add an exercise
  = render "exercises/form"

