<h2>Show Workouts</h2>

<p>
  <h1>Date</h1>
  <%= @workout.date  %>
</p>

<p>
  <h2>Workuot</h2>
  <%= @workout.workout  %>
</p>


<p>
  <h2>Mood</h2>
  <%= @workout.mood %>
</p>

<p>
  <h2>Length:</h2>
  <%= @workout.length %>
</p>


<p>
  <%= link_to 'Back', root_path %>
</p>
