%p=  exercise.name
%p=  exercise.sets
%p=  exercise.reps

- if is_there_something?(exercise)
  = link_to 'Edit', edit_workout_exercise_path(@workout, exercise)
  = link_to 'Delete', workout_exercise_path(@workout, exercise), method: :delete, data: {confirm: 'Are You Sure'}


- if dupa_blada?(exercise)
  %p Tak dupa jest blada



